.contacts
  .contacts__center
    h2.contacts__h2 Contacts
    form.form
      .form__group
        input(type="email").form__email
        span.form__email-placeholder E-mail
        .form__email-border
      .form__group
        input.form__name
        span.form__name-placeholder Name
        .form__name-border
      .form__group
        textarea(rows="4").form__message
        span.form__message-placeholder Message
        .form__message-border
      .button
        button.button__submit
          svg.sent-mail
            use(xlink:href='./img/symbols.svg#sent-mail')
          span.button__submit--padding Send
