.contacts
  .contacts__center
    h2.contacts__h2 Contacts
    form.form
      <!-- Hidden Required Fields -->
      <input type="hidden" name="project_name" value="Portfolio">
      <input type="hidden" name="admin_email" value="zanusilker@gmail.com">
      <input type="hidden" name="form_subject" value="Feedback">
      .form__group
        input(type="email" name="Name").form__email
        span.form__email-placeholder E-mail
        .form__email-border
      .form__group
        input(name="E-mail").form__name
        span.form__name-placeholder Name
        .form__name-border
      .form__group
        textarea(rows="4").form__message
        span.form__message-placeholder Message
        .form__message-border
      .button
        button.button__submit
          svg.sent-mail
            use(xlink:href='./img/symbols.svg#sent-mail')
          span.button__submit--padding Send
