nav.menu
  ul
    li(data-url="home").active
      a(href="#home").menu__link
        svg.home-page
          use(xlink:href='./img/symbols.svg#home-page')
    li(data-url="about")
      a(href="#about").menu__link
        svg.about-page
          use(xlink:href='./img/symbols.svg#about-page')
    li(data-url="experience")
      a(href="#experience").menu__link
        svg.experience-page
          use(xlink:href='./img/symbols.svg#experience-page')
    li(data-url="skills")
      a(href="#skills").menu__link
        svg.skills-page
          use(xlink:href='./img/symbols.svg#skills-page')
    li(data-url="portfolio")
      a(href="#portfolio").menu__link
        svg.portfolio-page
          use(xlink:href='./img/symbols.svg#portfolio-page')
    li(data-url="contacts")
      a(href="#contacts").menu__link
        svg.contacts-page
          use(xlink:href='./img/symbols.svg#contacts-page')
  
