.portfolio
  .description
    .description__top
      h2.description__h2 Portfolio
        .description__item
          h3.description__h3 A-level Ukraine
          p.description__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco q
        .description__item
          h3.description__h3 Сайт конференции для неайтишников
          p.description__p Найди себя в IT: «ЖИЗНЬ ПРОЕКТА». Бесплатная конференция для неайтишников и новичков в IT
          p.description__p Лендинг для мероприятия
        .description__item
          h3.description__h3 Web Developer's portfolio
          p.description__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco q
        .description__item.description__item--current
          h3.description__h3 Cuda
          p.description__p Front-end разработка – это созданием клиентской части сайта. Front-end разработчик занимается версткой шаблона сайта и созданием пользовательского интерфейса. Обычно front-end разработчик – это мастер на все руки. Он просто обязан обладать талантом дизайнера, быть искусным верстальщиком и хорошим программистом.
        .description__item
          h3.description__h3 My old portfolio
          p.description__p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco q
    .description__bottom
      a.description__view(href='#', title='#') View index
  .navigation
    .navigation__score
      span.navigation__current 01
      span  / 
      span.navigation__amount
    button.navigation__btn.navigation__btn--current(data-number="1")
    .navigation__line.navigation__line--active
    button.navigation__btn(data-number="2")
    .navigation__line
    button.navigation__btn(data-number="3")
    .navigation__line
    button.navigation__btn(data-number="4")
    .navigation__line
    button.navigation__btn(data-number="5")
  .progress
    .progress__bar
  .slider
    a.slider__item.slider__item--1.slider__item--current
    a.slider__item.slider__item--2
    a.slider__item.slider__item--3
    a.slider__item.slider__item--4
      img(src="img/cuda-template.jpg")
    a.slider__item.slider__item--5

