extends ../template
include ../_mixin

block title
  title Gulpimize

block description
  meta(name='Gulpimize', content='Basic template for quickly getting started')

block color
  +color('#3A4446')

block styles
  link(rel="stylesheet" href="css/libs.css")
  link(rel="stylesheet" href="css/main.css")

block js
  script(defer src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  //script(defer src="//cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js")
  script(defer src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js")
  //script(defer src="http://particleslider.com/js/particleslider/current/particleslider.js")
  script(defer src="js/libs.js")
  script(defer src="js/index.js")

block content
  section.content
    include ../components/home
    include ../components/about
    include ../components/experience
    include ../components/skills
    include ../components/portfolio
    include ../components/contact
  include ../components/header
  include ../components/menu
  include ../components/social
  
 
  
  
    
    
  
  
    
