.social {

  display: none;
  order: -1;

  background-color: var(--gray);
  border-top: 1px solid var(--white);

  &__list {
    padding: 0;
    margin: auto;
    align-self: center;
    display: flex;
    flex-direction: row;
  }
  &__item {
    display: flex;
    size: 100px;
    line-height: 100px;
    text-align: center;
  }
  &__link {
    margin: auto;
    font-size: 16px;
    color: var(--white);
    font-family: var(--roboto-font);
    text-decoration: none;
  }
}
